<h1>注目選手プレー集</h1>
<h3></h3>
<%= form_for @tweet do |f| %>

# データ型がstringで自由記述の入力フォーム
  <div class="field">
    <%= f.label :項目名 %>
    <%= f.text_field :name, :size => 30 %>
  </div>
  # データ型がtextで自由記述の入力フォーム
  <div class="field">
    <%= f.label :項目名  %>
    <%= f.text_area :member, :size => "30x2" %>
  </div>

  # データ型がtextで自由記述の入力フォーム
  <div class="field">
    <%= f.label :項目名  %>
    <%= f.text_area :record, :size => "30x2" %>
  </div>
 <%= f.label :youtube_url %>
    <%= f.text_field :youtube_url, :size => 140 %>
  <%= f.submit "投稿する" %>
<% end %>
<%= link_to "一覧に戻る", tweets_path %>