<h1>GeekTwitter</h1>
<h3>Tweet詳細</h3>
<div class="tweet">
  <p><%= @tweet.name %></p>
  <p><%= @tweet.member %></p>
  <p><%= @tweet.record %></p>
  <p><%= @tweet.created_at %></p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= find_youtube_url(@tweet.youtube_url) %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<% if user_signed_in? %>
     <% if current_user.already_liked?(@tweet) %>
        <%= link_to tweet_like_path(id: @tweet.id, tweet_id: @tweet.id), data: { turbo_method: :delete } do %>
            <p>いいねを取り消す</p><%= @tweet.likes.count %>
        <% end %>
     <% else %>
        <%= link_to tweet_likes_path(id: @tweet.id, tweet_id: @tweet.id), data: { turbo_method: :post }  do %>
            <p>いいね</p><%= @tweet.likes.count %>
        <% end %>
     <% end %>
<% else %>
    <p>いいねの数 = </p><%= @tweet.likes.count %>
<% end %>
<%= link_to "Tweet一覧に戻る", tweets_path %>
<%= link_to "編集する", edit_tweet_path(@tweet.id) %>